<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="JDE" connectionString="Password=devuser;User ID=devuser;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = OYENT)(PORT = 1521)) )(CONNECT_DATA =(SERVICE_NAME = JDE) ));Persist Security Info=True;"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="JDEContext" connectionString="DATA SOURCE=JDE;PASSWORD=proddta;PERSIST SECURITY INFO=True;POOLING=False;USER ID=PRODDTA" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
</configuration>